body { background: url('../img/bg.png'); font-family: 'Open Sans', sans-serif; }

/* layout */
@media only screen and (min-width : 900px) {
	#wrap { width: 845px; margin: 25px auto 0 auto; }
}

@media only screen and (max-width: 767px) {
	#image-profile { display: none; }
}

@media only screen and (max-width : 566px) {
	#wrap { margin-top: 50px; }
}

#wrap { 
	background-color: #f1f1f1; 
	padding: 25px 0; 
	margin-bottom: 25px; 
	overflow: scroll; 
	height: 400px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.section { min-height: 400px; }
.section h2 { border-bottom: 1px solid #ccc; }

#footer { color: #ccc; text-align: center; }
#footer a { color: #f1f1f1; border-bottom: 1px dotted #f1f1f1; }
#footer a:hover { text-decoration: none; }